@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
.section{
    margin-right: 10px;
}

.custom--bg--pink{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2),6px 6px 8px rgba(108, 15, 69, 0.1),
    inset 2px 2px 4px rgba(239, 236, 236, 0.456),inset 6px 6px 8px rgba(239, 233, 239, 0.806);
}